---
configure_sudoers: yes
dotfiles_source_dir: "Projects/gt-mac-config/files/dotfiles"
downloads: ~/Downloads/ansible-downloads
homebrew_installed_packages:
  - ssh-copy-id
  - ansible
  - autoconf
  - bash-completion
  - bash-git-prompt
  - docker
  - dockutil
  - gettext
  - git
  - go
  - gpg
  - hub
  - highlight
  - curl
  - iperf
  - libdvdcss
  - libevent
  - python
  - mysql
  - nvm
  - ssh-copy-id
  - cowsay
  - ios-sim
  - readline
  - kdiff3
  - openssl
  - pv
  - watch
  - wget
  - wrk
  - brew-cask
homebrew_upgrade_all_packages: yes
homebrew_taps:
  - caskroom/cask
  - homebrew/binary
  - homebrew/dupes
  - homebrew/versions
homebrew_cask_appdir: /Applications
homebrew_cask_apps:
  - atom
  - alfred
  - 1password
  - evernote
  - google-chrome
  - dropbox
  - fing
  - firefox
  - iterm2
  - licecap
  - little-snitch
  - macvim
  - mou
  - nvalt
  - sequel-pro
  - skype
  - skitch
  - packer
  - terraform
  - timemachineeditor
  - transmission
  - vagrant
  - vagrant-manager
  - vlc
  - virtualbox

dockitems_to_remove:
  - Launchpad
  - Mail
  - Safari
  - Contacts
  - Notes
  - Reminders
  - Maps
  - Photos
  - Messages
  - FaceTime
  - iTunes
  - iBooks
  - App Store
  - System Preferences
dockitems_to_persist:
  - name: Google Chrome
    path: "/Applications/Google Chrome.app"
    pos: 1
  - name: Calendar
    path: "/Applications/Calendar.app"
    pos: 2
  - name: iTerm
    path: /Applications/iTerm.app
    pos: 3
  - name: Atom
    path: /Applications/Atom.app
    pos: 4
  - name: Skype
    path: /Applications/Skype.app
    pos: 5

# git vars
git_name: User Name
git_email: user@mail.com
